<%= form_for(compra) do |f| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
      <% compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Fecha_Compra %>
    <%= f.date_select :FechaCompra %>
  </div>

  <div class="field">
    <%= f.label :Monto %>
    <%= f.text_field :Monto %>
  </div>

  <div class="field">
    <%= f.label :Cliente %>
    <%= f.text_field :Cliente %>
  </div>

  <div class="actions">
    <%= f.submit class:'button radius success' %>
  </div>
<% end %>
