<p id="notice"><%= notice %></p>

<h1>Compras</h1>

<table>
  <thead>
    <tr>
      <th>Fecha compra</th>
      <th>Monto</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.FechaCompra %></td>
        <td><%= compra.Monto %></td>
        <td><%= compra.Cliente %></td>
        <td><%= link_to 'Mostrar', compra, class:'button radius' %></td>
        <td><%= link_to 'Editar', edit_compra_path(compra), class:'button radius success' %></td>
        <td><%= link_to 'Eliminar', compra, method: :delete, data: { confirm: '¿Està seguro?' }, class:'button radius alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Compra', new_compra_path, class:'button radius success' %>
